*{
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

.cont1{
  padding-right: 100px;
  padding-left: 100px;
}
.testi{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.griddss{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
#card{
  background-color: #0B5ED7;
}
.img-cont{
  height: 100px;
  width: 100px;
  margin:auto;
  padding-top: 20px;
}
.images{
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.card-title{
  text-align: center;
  color: rgba(255, 255, 255, 0.92);
  margin-top: 10px;
}

#card-text{
  color:rgba(255, 255, 255, 0.92); 
}

