*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  height: 100px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #b9b9b958;
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
}
#list{
  display: flex;
  flex-direction: row;
  color: #36454F;
}

#list > li{
  margin-right: 10px;
  color: #36454F;
  font-weight: 600;
}

#upload{
  margin-left: 20px;
}

.search{
  width: 300px;
  height: 41.5px;
  margin-right: 40px;
  border: 1px solid #b9b9b9;
  padding-left: 10px;
  border-radius: 8px;
  margin-left: 40px;
}

.left, .right{
  display: flex;
  align-items: center;
}
.logo-img{
  height: 70px;
  margin-right: 10px;
}

.btn-div > button{
  height: 40px;
  width: 100px;
  text-align: center;
}

#btn{
  margin-right: 10px;
}

.literature{
  color: #36454F;
}