*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heroo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-left: 40px;
  padding-right: 40px;
  /* height: 300px; */
}

Link{
  color: white;
  text-decoration: none;
}

.leftt{
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  /* justify-content: center; */
  /* padding-left: 40px; */
  /* padding-right: 50px; */
  line-height: 20px;
}
.hero-head{
  color:#36454F ;
  margin-top: 40px;
}

.img-hero{
  width: 100%;
  height: 300px;
}

.hero-text{
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: justify;
}
#btnn{
  width: 100%;
}




